*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    width: 100vw;
    height: 100px;
    background-color: #666;    
}


.header2{
    width: 100vw;
    height: 50px;
    background-color: black;   
}


footer{
    width: 100vw;
    height: 50px;
    background-color: black;   
    position: fixed;
    bottom: 0;
}

main aside.esquerdo{
    width: 25vw;
    background-color: antiquewhite;
    height: calc(100vh - 150px);
    float: left;
    margin-right: 20px;
    padding: 20px;
    

}

main aside.direito{
    width: 25vw;
    background-color: antiquewhite;
    height: calc(100vh - 150px);
    float: right;
    margin-left: 20px;
}

main article p {
    font-size: 20px;
    text-align: justify;
    padding: 10px 0;
    overflow: auto;
    height: calc(100vh - 150px);

    
}

 ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
        
}

li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #666;
    margin: 10px 0;
    color: aliceblue;
    width: 100%;
    display: inline-block;
    box-shadow: 2px 2px 5px gray;
}

li a:hover{
    background-color: aliceblue;
    color: gray;
}

li a:active{
   box-shadow: 0px 0px 5px gray;
   position: relative;
   top: 2px;
   left: 2px;

}